/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #fffbd6 !default;  /* #eeeeee */
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #1a6d86 !default; /* #0092ca     */
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: #1a6d86 !default; /* #393e46     */
$link-color: #1a6d86 !default; /* #393e46     */
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
